@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap');


.img{
	max-width: 256px;
	max-height: 256px;
	margin-bottom: 50px;
}

.container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

body{
	font-family: 'Open Sans','sans-serif';
	font-size: 1em;
	font-weight: 400;
}

h1{
	color: #4682B4;
	margin-bottom: 15px;
}

.botao1{
	margin: 5px;
	text-decoration: none;
	background-color: #4682B4;
	padding: 10px;
	color: #fff;
	font-size: 1.2em;
	font-weight: 700;
	border-radius: 5px;
	width: 200px;
	text-align: center;
	cursor: pointer;
}

.button-container{
	display: flex;
}

.input{
	padding: 10px;
	width:300px;
	border: 1px solid #66bbff;
	border-radius: 4px;
}